# Dépendances
/node_modules
/.pnp
.pnp.js

# Build
/dist
/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environnements
.env
.env.local
.env.*.local

# VSCode et IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# Autres caches
/.turbo
/.next
/.cache
